<div class="product-list">
    <h2>Product List</h2>
    <div class="actions">
      <button routerLink="/products/create">Create New Product</button>
      <input type="file" (change)="bulkImport($event)">
      <button (click)="bulkExport()">Export Products</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Brand</th>
          <th>SKU</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category  }}</td>
          <td>{{ product.brand}}</td>
          <td>{{ product.stockQuantity   }}</td>
          <td>
            <button routerLink="/products/details/{{ product.id }}">Details</button>
            <button routerLink="/products/update/{{ product.id }}">Edit</button>
            <button (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  