.category {
    margin-bottom: 20px;
  
    h3 {
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 5px;
  
        a {
          text-decoration: none;
          color: #007bff;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  