.customer-list {
    display: flex;
    flex-direction: column;
  
    div {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      &:hover {
        background-color: #f0f0f0;
      }
  
      p {
        margin: 0;
      }
  
      button {
        margin-top: 5px;
      }
    }
  }
  